.box1 {
    margin: 20px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 182, 193);
    margin: 20px;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(150, 76, 219);
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 3px;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 20px;
}