.box1 {
    border-left: 5px solid #f00;
    border-right: 5px solid #f00;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;    
}
.box2 {
    border-left: 5px solid #f00;
    border-right: 5px solid #f00;
    border-top: 1px solid #000;
    border-bottom: 10px solid #090;    
}

.box3 {
    border-left: 15px solid #0ff;
    border-right: 5px solid #f00;
    border-top: 1px solid #000;
    border-bottom: 10px solid #090;    
}