body {
    background-image: url(http://lintcode-media-hz-test.oss-cn-hangzhou.aliyuncs.com/new_storage_v2/public/None/3/23/2cf1b560-aa7e-11ec-ad45-0242c0a81002/image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}